<nav class="navbar">
  <div class="logo">
    <i class="fa-solid fa-cloud-sun"></i>
    <span class="logo-text">Weather</span>
  </div>
  <div class="navbar-nav">
    <ul class="nav">
      <li class="nav-item"><a href="/" class="nav-link">Home</a> </li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a> </li>
      <li class="nav-item"><a href="/help" class="nav-link">Help</a></li>
      <li class="nav-item"><a
          href="/weatherPage"
          class="nav-link"
        >Weather</a></li>
    </ul>
  </div>
</nav>